<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ SITENAME }}</title>
  {# favicon #}
  <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
  <link rel="preload" href="{{ SITEURL }}/fonts/et-bembo-roman-line-figures/et-bembo-roman-line-figures.woff" as="font" type="font/woff" crossorigin>
  <link rel="canonical" href="{{ SITEURL }}/{% if article is defined %}{{ article.url }}{% elif page is defined %}{{ page.url }}{% else %}{{ SITEURL }}{% endif %}">
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="title" content="{{ SITETITLE }}" />
  <meta name="description" content="{% block meta_description %}{{ SITEMETA }}{% endblock meta_description %}" />
  {%- endblock head %}
</head>
<body>
  <aside id="asidebar">
    <nav class="main-menu">
      {% include 'partials/main_nav.html' %}
    </nav>

    {% include 'partials/social.html' %}
  </aside>
  <main>
    {%- block content -%}
    {%- endblock %}

  </main>
</body>
</html>
